.carousel-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow-x: hidden;
  flex-direction: column;
  padding: 20px;
}

.carousel {
  display: flex;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
  -moz-transition: all 0.35s ease 0s;
  -ms-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
}

.carousel-card {
  min-width: 50%;
  width: 80%;
  height: 300px;
  box-shadow: inset 0px 4px 15px #1B2B43;
  margin: 5px;
  border-radius: 10px;
  ;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.carousel-card-content {
  position: relative;
  width: inherit;
  height: 100%;
  transition: transform 0.6s cubic-bezier(.165, .84, .44, 1);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  -webkit-transition: transform 0.6s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: transform 0.6s cubic-bezier(.165, .84, .44, 1);
  -ms-transition: transform 0.6s cubic-bezier(.165, .84, .44, 1);
  -o-transition: transform 0.6s cubic-bezier(.165, .84, .44, 1);
}

.carousel-card:not(.active) .carousel-card-content {
  transform: scale(0.9);
  filter: blur(5px);
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  padding: 0;

}

.dot:hover {
  cursor: pointer
}

.dot:not(:last-child) {
  margin-right: 10px;
}

.dot.active {
  background-color: #683bb7
}

.dot:not(.active) {
  background-color: #545454
}


@media (max-width:768px) {
  .carousel-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-x: hidden;
    flex-direction: column;
    padding: 20px;
  }

}