/* ./src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track{
  background-color:  #B4A4FC;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: #6951EB;
  border-radius: 10px;
}

#scroll::-webkit-scrollbar{
  width: 0px;
}
#scroll::-webkit-scrollbar-track{
  background-color:  transparent;
  border-radius: 0px;
}
#scroll::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 0px;
}

@layer components {
    .btn-primary {
      @apply py-2 px-4 bg-primary text-white font-semibold rounded-full shadow-md hover:bg-blueDark text-base 2xl:text-lg focus:outline-none focus:ring-2 focus:ring-purple focus:ring-opacity-75;
    }
    .btn-purple {
      @apply py-2 px-4 bg-purple text-primary font-semibold rounded-full shadow-md hover:bg-blueDark hover:text-white text-base 2xl:text-lg focus:outline-none focus:ring-2 focus:ring-purple focus:ring-opacity-75;
    }
    .btn-dark {
      @apply py-2 px-4 bg-blueDark text-white font-semibold rounded-full shadow-md hover:bg-white hover:text-primary text-base 2xl:text-lg focus:outline-none focus:ring-2 focus:ring-purple focus:ring-opacity-75;
    }
    .btn-white {
      @apply py-1.5 px-4 bg-white text-primary font-semibold rounded-full shadow-md hover:bg-blueDark hover:text-white text-base 2xl:text-lg focus:outline-none focus:ring-2 focus:ring-purple focus:ring-opacity-75;
    }
    .input-white {
      @apply py-2 px-4 w-full text-center bg-white/40 text-white font-semibold rounded-full shadow-md text-base 2xl:text-lg focus:outline-none focus:ring-2 focus:ring-white;
    }
    .input-border {
      @apply py-2 px-4 w-full text-center bg-transparent text-white font-semibold rounded-full shadow-md text-base 2xl:text-lg border-2 border-white focus:outline-none focus:ring-2 focus:ring-white;
    }
    .input-light {
      @apply py-2 px-4 w-full text-center bg-ligthGray text-[#1b2b4380] font-semibold rounded-full shadow-md text-base 2xl:text-lg border-2 border-transparent focus:outline-none focus:ring-2 focus:ring-transparent;
    }
    .label-form{
      @apply pb-2 text-lg font-semi-bold md:text-2x;
    }
  }